<div class="modal fade" id="removeVehicle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete automobilį?</h5>
                <a  href="{{ path('profile_vehicles') }}" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <span>Sure you wanna delete the... thing?</span>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">NO, STAHP!</button>
                <a class="btn" href="{{ path('remove_vehicle') }}">OK</a>
            </div>
        </div>
    </div>
</div>

{% block additional_scripts %}
    <script>
        showModal('removeVehicle');
    </script>
{% endblock %}