{% extends 'Util/vehicle_add_modal.html.twig' %}


{% block include %}
    {% include 'Profile/profile_vehicles.html.twig' %}
{% endblock %}

{% block modal_contents %}
    {% if vehicles.count >= 5 %}
        <div class="modal-body">
            <span><strong>Jau užregistruotas maksimalus automobilių skaičius.</strong></span>
        </div>
    {% else %}
        {% include 'Util/vehicle_add_form.html.twig' %}
    {% endif %}
{% endblock %}