{% extends 'base.html.twig' %}

{% block title %}Prisijungimas{% endblock %}

{% block content %}
    <div class="login-box justify-content-center">
        <h1 class="page-header">Prisijungimas</h1>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <label for="username">Elektroninis paštas:</label>
            <input class= "form-control" type="text" id="username" name="_username" value="{{ last_username }}">
            <label for="password">Slaptažodis:</label>
            <input class= "form-control" type="password" id="password" name="_password">
            <label for="remember_me">Atsiminti mane</label>
            <input type="checkbox" id="remember_me" name="_remember_me" checked>
            <br>
            <input type="submit" name="submit" value="Prisijungti">
        </form>
    </div>
{% endblock %}