{% extends 'base.html.twig' %}

{% block title %}Paskyros susigrąžinimas{% endblock %}

{% block content %}
    <div class="login-box justify-content-center">
        <h1 class="page-header">Paskyros susigrąžinimas</h1>
        <div>{{ error }}</div>
        <form action="{{ path('reset_password') }}" method="post">
            <label for="username">Elektroninis paštas:</label>
            <input class= "form-control" type="text" id="username" name="username" value="{{ username }}">
            <input type="submit" name="submit" value="Prisijungti">
        </form>
    </div>
{% endblock %}