<form method="post" style="width:50%" action="{{ path('vehicle_delete_test', {'id': vehicle.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicle.id) }}">
    <button class="btn btn-danger" style="width: 100%">Ištrinti</button>
</form>