{% include 'Profile/Vehicles/profile_vehicles.html.twig' %}

<div class="modal fade" id="editVehicle" tabindex="-1" role="dialog" aria-labelledby="editVehicleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="editVehicleLabel">Modifikuojamas automobilis</h5>
                <a  href="{{ path('user_vehicles') }}" class="close" aria-label="Close">
                    <i class="fas fa-times fa-sm"></i>
                </a>
            </div>
            {% include 'Util/vehicle_add_form.html.twig' with{submitLabel: "Atnaujinti"}%}
        </div>
    </div>
</div>

{% block additonal_scripts %}
    <script>
        showModal('editVehicle');
    </script>
{% endblock %}