{% if services.count > 0%}
    <div class="list-group vehicles-list">
        {% for service in services %}
            <div class="list-group-item">
                {{ service.name }}
                <hr>
                <p class="mb-1">
                    {{ service.description }}
                </p>
                <hr>
                {{ service.price }} €
            </div>
        {% endfor %}
    </div>
    {% include 'Util/pagination.html.twig' with {
        pageOffset: 2
    }%}
    {% else %}
        <div>
            <strong>
                Šiuo metu neteikiama jokių paslaugų.
            </strong>
        </div>
{% endif %}