{% if services.count > 0%}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Pavadinimas</th>
            <th>Aprašymas</th>
            <th>Kaina</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr class="table-fixed">
                {# For testing purposes only, should not be displayed otherwise #}
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                {# Wrapping should be enabled for descriptions #}
                <td class="column-word-wrap">{{ service.description }}</td>
                <td>${{ service.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# pageOffset - number of page buttons to display on either side of
       currently active one.
    #}
    {% include 'Util/pagination.html.twig' with {
        pageOffset: 2,
        previousPageLabel: "Previous",
        nextPageLabel: "Next"
    } %}
{% else %}
    <h1>There are currently no services provided.</h1>
{% endif %}