{% extends 'Employee/base.html.twig' %}

{% block panels %}
    {% include 'Employee/employee_panels.html.twig' with {
        home_active: 'true'
    }%}
{% endblock %}

{% block panel_content %}
    <h1>
        An incredibly detailed description of the tools available
        to the employee.
    </h1>
{% endblock %}