{% extends 'Admin/Users/admin_users_confirm_base.html.twig' %}

{% block heading %}
    <h1>The following user will be banned, are you sure?</h1>
{% endblock %}
{% block confirmation %}
    {{ include('Admin/Users/_ban_form.html.twig') }}
{% endblock %}