{% extends 'Admin/Users/admin_users_confirm_base.html.twig' %}

{% block heading %}
    <h1>Pasirinktas vartotojas bus užblokuotas. Tęsti?</h1>
{% endblock %}
{% block confirmation %}
    {{ include('Admin/Users/_ban_form.html.twig') }}
{% endblock %}