{% extends 'Admin/base.html.twig' %}
{% block content %}
    <h2>User (ID:{{ id }}) was successfully deleted!</h2>
    <a href="{{ path('admin.user_list') }}"><button type="button" class="btn btn-primary">Go Back</button></a>
{% endblock %}