<form method="post" action="{{ path('visitors_mail_delete_confirm', {'id': letter.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ letter.id) }}">
    <button class="btn btn-danger submit-delete w-100">Ištrinti</button>
</form>