.admin .top-content{
    /*
     * Expanding border below tabs along
     * full screen width.
     */
    padding-left: 0;
    padding-right: 0;
}

.admin .bottom-content{
    background: linear-gradient(#b0a18e, #c0b7b1);

    padding-top: 10px;
}
.reply-button {
    margin-bottom: 10px;
}
.textField.reply-comment {
    height: 150px;
}
.answered-letter {
    line-height: 36px;
}