/*<editor-fold desc="General button">*/
.custom-button{
    background-color: #b07156;
    border: 1px solid #433e3f;
    border-radius: 1px;
    color: #e8edf3;

    box-shadow: none !important;
}

.custom-button:hover{
    background-color: #c69c72;
    color: #433e3f;
}
/*</editor-fold>*/

.button-full-width{
    width: 100%;
    margin-bottom: 10px;
}