.navbar {
    background-color: #479761;/*navBar background*/
}
.navbar .navbar-brand {
    color: #19181a;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
}
.navbar .navbar-text {
    color: #19181a;
}
.navbar .navbar-nav .nav-link {
    color: #19181a;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #cebc81;
    border-color: #479761;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #19181a;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #FFF;
    background-color: #479761;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #479761;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #cebc81;/*text color on active */
    font-weight: bold;
}
.navbar .navbar-toggle {
    border-color: #479761;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #479761;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #19181a;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #19181a;
}
.navbar .navbar-link {
    color: #19181a;
}
.navbar .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #19181a;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #FFF;
        background-color: #479761;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #19181a;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #FFF;
        background-color: #479761;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #19181a;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #FFF;
        background-color: #479761;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #19181a;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #FFF;
        background-color: #479761;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #19181a;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #FFF;
    background-color: #479761;
}