.Option{
    border-top: solid 1px #433e3f;;
    background: #b07156;
}

.Option:hover{
    background: #794c39;
}

.serviceName{
    display: inline-block;
    width: 70%;
}

.servicePrice{
    display: inline-block;
    width: 30%;
}

.optionsContainer{
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 50px;
    background: white;
    text-align: center;
}

.serviceOptionsContainer{
    vertical-align: top;
    height: 438px;
    background: #b07156;
    border: 4px double #433e3f;
}

.searchableServices{
    height: 391px;
}

.align-right{
    float: right;
}

.align-text-right{
    text-align: right;
}

.scrollable-vertical{
    overflow: scroll;
    overflow-x: hidden;
}

.full-height{
    height: auto;
}

.orderDialog{
    border-top: 1px solid #433e3f;
    margin-top: 50px;
    background: linear-gradient(#b0a18e,#c0b7b1);
    padding-top: 50px;
    text-align: center;
    color: white;
}

.searchBox{
    width: 100%;
    background: #b0a18e;
    color: white;
}

.searchBox:focus{
    background: #c0b7b1;
    color: white;
}


.serviceSelectionContainer{
    padding: 0 100px 0 100px;
    height: 100%;
}

.orderDialogButtonsContainer{
    text-align: initial;
    height: 35px;
    margin-top: 30px;
}

.orderDialogButton{
    display: inline-block;
    padding: 5px 5px 5px 5px;
}

.orderButtonDisabled{
    display: none;
}

.datePickerContainer{
    text-align: center;
}

.timeSelectionContainer{
    display: inline-block;
    width: 200px;
    background-color: #b07156;
    border: 1px gray solid;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

.calendarContainer{
    background-color: #b07156;
    border: 4px double #433e3f;
}