.Option{
    border-bottom: solid 1px #433e3f;
    padding: 0.5rem 0 0.5rem 0;
    background: #b07156;
}

.Option:hover{
    background: #794c39;
}

.serviceName{
    display: inline-block;
    width: 70%;
}

.servicePrice{
    display: inline-block;
    width: 30%;
}

.optionsContainer{
    display: block;
    margin: auto;
    width: 40%;
    background: white;
    text-align: center;
}

.serviceOptionsContainer{
    vertical-align: top;
    height: 40vh;
    max-height: 40vh;
    width: 100%;
    background: #b07156;
    border: 4px double #433e3f;
}

.searchableServices{
    height: calc(100% - 38px);
}

.align-right{
    float: right;
}

.align-text-right{
    text-align: right;
}

.scrollable-vertical{
    overflow: scroll;
    overflow-x: hidden;
}

.full-height{
    height: auto;
}

.orderDialog{
    border-top: 1px solid #433e3f;
    margin-top: 50px;
    background: linear-gradient(#b0a18e,#c0b7b1);
    padding-top: 50px;
    text-align: center;
    color: white;
}

.searchBox{
    width: 100%;
    background: #b0a18e;
    color: white;
}

.searchBox:focus{
    background: #c0b7b1;
    color: white;
}


.serviceSelectionContainer{
    padding: 0 100px 0 100px;
    height: 100%;
}

.orderDialogButtonsContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.orderDialogButton{
    display: inline-block;
    padding: 5px 5px 5px 5px;
}

.align-right{
    float: right;
}

.orderButtonDisabled{
    display: none;
}

.datePickerContainer{
    text-align: center;
}

.timeSelectionContainer{
    display: inline-block;
    width: 200px;
    background-color: #b07156;
    border: 1px gray solid;
    text-align: center;
    padding: 5px 5px 5px 5px;
    position: relative;
}

.orderDialogLabel{
    margin-bottom: 70px;
}

.calendarContainer{
    background-color: #b07156;
    border: 4px double #433e3f;
}

.exitTimeSelection{
    position: absolute;
    top: 0;
    right: 0.5rem;
}

.dateLabel{
    padding-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
    border-bottom: solid 1px #433e3f;
}

@media
screen and (max-width: 992px) {

    .serviceSelectionContainer{
        padding: 0 0 0 0;
    }

    .media-full-width {
        width: 100vw !important;
    }

    .serviceOptionsContainer{
        margin-bottom: 40px;
    }

    .optionsContainer{
        width: 90vw;
    }

    .orderDialogButtonsContainer{
        margin-bottom: 40px;
    }

    .close{
        font-size: 3rem;
    }

    .timeSelectionContainer{
        width: 90vw;
    }
}