header .logo {
    float:left;
    margin:30px 0 0;
}

.scrollable-div{
    max-height: 60vh;
    overflow: auto;
}

.about-panel{
    color: #e8edf3;
    background: #433e3f;
    border: 4px double #b0a18e;
    padding-top: 15px;
    padding-left: 10%
}