header .logo {
    float:left;
    margin:30px 0 0;
}

.dropdown-item:hover{
    background: #d8413d;
    color: white;
}

.first-item {
    width: 100%;
    background-color: #AA3333;
    color:white;
    border-radius: 10px 10px 0 0;
}
.list-group-item {
    color: black;
}
#profile {
    margin-bottom: 15px;
}