{% block include %}{% endblock %}

<div class="modal fade" id="addVehicle" tabindex="-1" role="dialog" aria-labelledby="addVehicleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="addVehicleLabel">Pridėti naują automobilį</h5>
                <a  href="{{ path('user_vehicles') }}" class="close" aria-label="Close">
                    <i class="fas fa-times fa-sm"></i>
                </a>
            </div>
            {% block modal_contents %}
            {% endblock %}
        </div>
    </div>
</div>

{% block additonal_scripts %}
    <script>
        showModal('addVehicle');
    </script>
{% endblock %}