<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        {% endblock %}
    </head>

    <body>
        <div id="app" class="container">
            {% block body %}
                {# Seen by unauthenticated users #}
                {% if not app.user %}
                    <h1>Hello, world</h1>
                    <a href="{{ path('login') }}">Log in</a>
                    <a href="{{ path('user_registration') }}">Register</a>
                {# Seen by authenticated users #}
                {% else %}
                    <h1>Hello,  <a href="/user"> DEBUG{{ app.user.emailname }}</a> </h1>
                    <a href="/logout">Log out</a>
                {% endif %}
            {% endblock %}
        </div>
    </body>
</html>
