<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
      {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        {% endblock %}
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Custom styles for this template -->
    <!--<link href="sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="margin-bottom:15px">
        <a class="navbar-brand" href="#">Autoservisas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Namai<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register"> Registruotis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"> Prisijungti</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <!-- <main role="main" class="container">
      <h1 class="mt-5">Autoservisas</h1>
      <p class="lead">Sveiki atvykę į auttoservisą</p>
    </main>-->

    <footer class="footer">
      <div class="container">
          {% block body %}
            {# Seen by unauthenticated users #}
            {% if not app.user %}
                <h1>Hello, world</h1>
                <a href="{{ path('login') }}">Log in</a>
                <a href="{{ path('user_registration') }}">Register</a>
            {# Seen by authenticated users #}
            {% else %}
                <h1>Hello, {{ app.user.emailname }}</h1>
                <a href="/logout">Log out</a>
            {% endif %}
        {% endblock %}
      </div>
    </footer>
    {% block javascripts %}{% endblock %}
  </body>
</html>
