{% extends 'base.html.twig' %}

{% block title %}HOMEPAGE'AS{% endblock %}

{% block body %}
    {# Links can only be seen by unauthenticated users #}
    {% if not app.user %}
        <a href="{{ path('login') }}">Log in</a>
        <a href="{{ path('user_registration') }}">Register</a>
    {% endif %}
{% endblock %}