{% extends 'base.html.twig' %}

{% block title %}Registracija{% endblock %}

{% block content %}
    <h2 class="page-header">Registracija</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}