{% if orders.count > 0 %}
    <div class="scrollable-horizontal">
        <table class="table services-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Būsena</th>
                    <th>Klientas</th>
                    <th>Automobilis</th>
                    <th>Data</th>
                    <th>Suma</th>
                    <th>Progresas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    {% include 'OngoingOrders/order_element.html.twig' with { order: order } %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'Util/pagination.html.twig' with{
        pageOffset: 2
    }%}
{% else %}
    <h1>Šiuo metu nėra einamų užsakymų.</h1>
{% endif %}