<div class="orders-table scrollable-div" id="orders">
{% if orders.count > 0 %}
    <div class="list-group">
        {% for order in orders %}
            {% include "OngoingOrders/order_element.html.twig" with {
                order: order
            }%}
        {% endfor %}
    </div>
    </div>
    {% include 'Util/pagination.html.twig' with{
        pageOffset: 2
    }%}
{% else %}
    <h1>Currently there are no ongoing orders.</h1>
{% endif %}