<div class="modal fade" id="finalizeOrder" tabindex="-1" role="dialog" aria-labelledby="finalizeOrderLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="finalizeOrderLabel">Patvirtinti užsakymą?</h5>
                <a  onclick="showModal('finalizeOrder')" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <p>Patvirtintas užsakymas nebegali būti grąžintas prie vykdomūjų.</p>
                <p>Po patvirtinimo vartotojui bus pranešama apie jo užsakymo įvykdymą.</p>
                <p>Ar tikrai norite patvirtinti šį užsakymą?</p>
            </div>
            <div class="modal-footer">
                <a class="btn custom-button w-100" href="{{ path('ongoing_order_finalize', {'id': order.id}) }}">PATVIRTINTI</a>
            </div>
        </div>
    </div>
</div>