<form method="post" action="{{ path('service_delete', {'id': service.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
    <button class="btn custom-button w-100">Ištrinti</button>
</form>