{% extends 'base.html.twig' %}

{% block content %}
   <div id="VehicleSelection"></div>
{% endblock %}

{% block additional_scripts %}
    <script type="text/javascript">
        var vehicles = '{{ vehicles | json_encode() | raw }}';

    </script>
    <script src="{{ asset("build/js/OrderPage.js") }}"></script>
{% endblock %}