{% extends 'base.html.twig' %}

{% block content %}
   <div id="VehicleSelection" class="row h-100"></div>
{% endblock %}

{% block additional_scripts %}
    <script src="{{ asset("build/js/OrderPage.js") }}"></script>
{% endblock %}