{% spaceless %}
<div>
    <h2>Some header</h2>
    <br>
    <p>
        VERYVERYLONGTEXT VERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXT
        VERYVERYLONGTEXTVERYVERYLONGTEXT VERYVERYLONGTEXTVERYVERYLONGTEXT VERYVERYLONGTEXT
        VERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXT
        VERYVERYLONGTEXTVERYVERYLONGTEXT VERYVERYLONGTEXTVERYVERYLONGTEXT
        VERYVERYLONGTEXTVERYVERYLONGTEXT
        VERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXT
        VERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXT
        VERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXTVERYVERYLONGTEXT VERYVERYLONGTEXT
    </p>
    <p>Footer.</p>
</div>
{% endspaceless %}