{% spaceless %}
    <div>
        <p> Užsakymo #{{ order.id }} vykdymas pradėtas.</p>
        <p> Užsakymo vykdymo progresą galite sekti savo profilio užsakymų skirtukę.</p>
    </div>
{% endspaceless %}